<div class="modal-dialog">
<div class="modal-content">

<%= form_with(model: [@post, @comment], format: :js, local: false) do |form| %>


	<div class="modal-header">
		<h5 class="modal-title">New Comment</h5>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	</div>
	<div class="modal-body">

		<% if @comment.errors.any? %>
			<div style="color: red">
				<h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

				<ul>
					<% @comment.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb-3">
			<%= form.label :title, class: "col-form-label" %>
			<%= form.text_field :title, class: "form-control" %>
		</div>
		<div class="mb-3">
			<%= form.label :body, class: "col-form-label" %>
			<%= form.text_area :body, class: "form-control", rows: 10 %>
		</div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
		<%= form.submit "Comment", class: "btn btn-primary" %>
	</div>


<% end %>

</div>
</div>
