<!-- this view is only presented when posts.count.zero? -->
<!-- intentionally placing some references from the 90's internet -->

<% content_for :marquee do %>
	<!-- old HTML feature used intentionally -->
	<marquee>Hiring Web Designers - Don't Waste Time - Send Your Resume Now!</marquee>
<% end -%>

<div class="d-flex flex-row mb-3">
  <div class="p-2">
  	<!-- mismatched height for intentional visual distraction -->
	<%= image_tag '/rails-logo.png', height: 128 %>
  </div>
  <div class="p-2">
  	<!-- mismatched height for intentional visual distraction -->
	<%= image_tag '/under_constructionA.gif' %>
  </div>
  <div class="p-2">
  	<!-- mismatched height for intentional visual distraction -->
	<%= image_tag '/underconstruction.gif' %>
  </div>
</div>

<div class="d-flex flex-row mb-3">
  <div class="p-2">
  	<%= image_tag '/notepad.gif', height: 64 %>
  </div>
  <div class="p-2">
  	<%= image_tag '/noframes.gif', height: 64 %>
  </div>
  <div class="p-2">
  	<!-- line break for intentional visual distraction -->
  	<br/>
  	<%= image_tag '/ns_logo.gif', height: 64 %>
  </div>
  <div class="p-2">
  	<%= image_tag '/ie_logo.gif', height: 64 %>
  </div>
</div>
