<!DOCTYPE html>
<html>
  <head>
    <%= render "/layouts/application/head" %>
  </head>

  <body>

<div class="container">
  <div class="row">
    <div class="col-3">
    	<div class="p-3">
			<a href="/" class="d-flex align-items-center flex-shrink-0 link-dark text-decoration-none">
			  <center><%= image_tag '/webfun.gif' %></center>
			  <span class="fs-5 fw-semibold">&nbsp;&nbsp;&nbsp;&nbsp;Rails 7 Rocks</span>
			</a>
		</div>
    </div>
    <div class="col-9">
    	<div class="p-3">
		  	<%= render "/layouts/application/topbar" %>
		</div>
    </div>
  </div>

  <%= yield :marquee %>

  <div class="row">
    <div class="col-9">
    	<div class="p-3">
		  	<%= render "/layouts/application/alertbar" %>
    		<%= yield %>
    	</div>
    </div>
    <div class="col-3">
    	<div class="p-3">
    		<%= yield :sidebar %>
		</div>
    </div>
  </div>
</div>

  	<%= render "/layouts/application/modal" %>

  </body>
</html>
